anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
boto3==1.41.0
botocore==1.41.0
brotlicffi
certifi
cffi
charset-normalizer
comm
contourpy==1.3.3
cycler==0.12.1
debugpy
decorator
defusedxml
dotenv==0.9.9
executing
fastjsonschema
fonttools==4.60.1
greenlet
h11
httpcore
httpx
idna
imbalanced-learn==0.14.0
imblearn==0.0
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jmespath==1.0.1
joblib==1.5.2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver==1.4.9
MarkupSafe
matplotlib==3.10.7
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy==2.3.5
overrides
packaging
pandas==2.3.3
pandocfilters
parso
pexpect
pillow==12.0.0
platformdirs
ply
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
PyMySQL==1.1.2
pyparsing==3.2.5
PyQt5==5.15.10
PyQt5_sip
PySocks
python-dateutil
python-dotenv==1.2.1
python-json-logger
pytz==2025.2
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339_validator
rfc3986_validator
rpds-py
s3transfer==0.14.0
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
Send2Trash
setuptools==78.1.1
sip
six
sniffio
soupsieve
SQLAlchemy==2.0.44
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
typing_extensions
tzdata==2025.2
urllib3
wcwidth
webencodings
websocket-client
wheel==0.45.1
widgetsnbextension
xgboost==3.1.1